# Godot 4+ specific ignores
.godot/
/android/
/addons/godot_super-wakatime
*.zip
/assets/models/scandinavian_log_cabin
/assets/models/weathered_brown_planks_4k
/addons/proton_scatter
/assets/models/fir_tree
